# Dummy Variable

There are two method
*  Creating flag or dummy variable for each n every lavel in a variable into two variable
*  Label Encoder to make levelin same variable to make female = 1 and male = 2

In [3]:
import pandas as pd
# Create some toy data in pandas Dataframe
fruit_data = pd.DataFrame({'Gender' : ['Female','Male','Male','Female'],
                             'Marital_states' : ['Single','Married','Divorce','Married']})
fruit_data

   Gender Marital_states
0  Female         Single
1    Male        Married
2    Male        Divorce
3  Female        Married

In [5]:
fruit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          4 non-null      object
 1   Marital_states  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [6]:
fruit_data

   Gender Marital_states
0  Female         Single
1    Male        Married
2    Male        Divorce
3  Female        Married

In [11]:
#From module.sub_module import function
from sklearn.preprocessing import LabelEncoder  #Function
fruit_data.apply(LabelEncoder().fit_transform)

   Gender  Marital_states
0       0               2
1       1               1
2       1               0
3       0               1

In [12]:
fruit_data.Gender=LabelEncoder().fit_transform(fruit_data.Gender)
fruit_data

   Gender Marital_states
0       0         Single
1       1        Married
2       1        Divorce
3       0        Married

In [15]:
import pandas as pd
#Create some toy data in pandas DataFrame
fruit_data = pd.DataFrame({'Gender' : ['Female','Male','Male','Female'],
                           'Married_states': ['Married','Single','Divorce','Married']})
fruit_data

   Gender Married_states
0  Female        Married
1    Male         Single
2    Male        Divorce
3  Female        Married

In [16]:
import pandas as pd
fruit_data_dummies = pd.get_dummies(fruit_data)  #flage variable

fruit_data_dummies
#Variable making in ascending order

,Gender_Female,Gender_Male,Married_states_Divorce,Married_states_Married,Married_states_Single
0,1,0,0,1,0
1,0,1,0,0,1
2,0,1,1,0,0
3,1,0,0,1,0